<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title login
    style
      include ../public/stylesheets/style.css
  body
  h1  login
  form(action="/" method="post")
    label ID
      input(type="text" name="id")
    label Password
      input(type="password" name="password")
    input(type="submit" value="login!")
  
  a(href="#") create account